@using SportsBetting.Clients.Web.Models.Home

@model IEnumerable<GameViewModel>
@{
    ViewBag.Title = "Sports Betting";
}

<div class="jumbotron">
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Category</th>
                <th scope="col">Tournament</th>
                <th scope="col" class="text-center">1</th>
                <th scope="col" class="text-center">DRAW</th>
                <th scope="col" class="text-center">2</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var game in Model)
            {
                <tr>
                    <th>
                        @if (DateTime.UtcNow < game.StartTime)
                        {
                            @game.StartTime.ToString("dd MMMM HH:mm")
                        }
                        else
                        {
                            @:"LIVE"
                        }
                    </th>
                    <td>@game.Category</td>
                    <td>@game.Tournament</td>
                    <td class="text-center">@game.HomeTeam</td>
                    <td class="text-center">@(game.Score ?? "VS")</td>
                    <td class="text-center">@game.AwayTeam</td>
                </tr>
            }
        </tbody>
    </table>
</div>