@using SportsBetting.Clients.Web.Areas.Administration.Models.Categories

@model IEnumerable<CategoryViewModel>
@{
    ViewBag.Title = "Categories";
}

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Key</th>
            <th scope="col">Name</th>
            <th scope="col">Created On</th>
            <th scope="col">Deleted On</th>
            <th scope="col">Updated On</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <th scope="row">@category.Id</th>
                <td>@category.Key</td>
                <td>@category.Name</td>
                <td>@category.CreatedOn</td>
                <td>@category.DeletedOn</td>
                <td>@category.ModifiedOn</td>
            </tr>
        }
    </tbody>
</table>